.App {
  min-height: 100vh;
}

body {
  /* background-image: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%); */
  background-color: rgb(245, 255, 249);
}

h1 {
  text-align: center;
  font-size: 60px;
  font-family: 'Leckerli One', cursive;
  color: rgb(99, 199, 166);
  margin: 25px 0 35px 0;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.search-bar {
  width: 50%;
  border: 1px solid rgb(223, 222, 222);
  border-right: 0;
  border-radius: 9px 0 0px 9px;
  padding: 0 0 0 12px; 
  height: 35px;
}

.search-bar::placeholder {
  font-size: 12px;
}

.search-button {
  background: #ED6A5A;
  border: 1px solid rgb(223, 222, 222);
  border-left: 0;
  border-radius: 0 9px 9px 0;
  height: 37px;
  padding: 0 12px;
  color: white;
  font-size: 12px;
  margin: 0;
}

.recipes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

button:hover {
  cursor: pointer;
}
