.App {
  min-height: 100vh;
}

h1 {
  text-align: center;
  font-size: 60px;
  font-family: 'Leckerli One', cursive;
  color: #63C7A6;
  margin: 25px 0 35px 0;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.search-bar {
  width: 50%;
  min-width: 200px;
  max-width: 450px;
  border: 1px solid rgb(223, 222, 222);
  border-right: 0;
  border-radius: 9px 0 0px 9px;
  padding: 0 0 0 12px; 
  height: 35px;
}

.search-bar::placeholder {
  font-size: 14px;
}

.search-button {
  background: #ED6A5A;
  border: 1px solid rgb(223, 222, 222);
  border-left: 0;
  border-radius: 0 9px 9px 0;
  height: 37px;
  padding: 0 12px;
  color: white;
  font-size: 14px;
  margin: 0;
}

.recipes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

button:hover {
  cursor: pointer;
}
