.recipe {
    border-radius: 10px;
    box-shadow: 0 2px 5px rgb(138, 136, 136);
    margin: 20px;
    display: flex;
    flex-direction: column;
    background: white;
    align-items: center;
    width: 300px;
    min-height: 300px;
    align-self: flex-start;
}

.recipe_cover {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
    position: relative;
}

h2 {
    font-family: 'Lobster', cursive;
    display: flex;
    align-items: center;
    width: 65%;
    min-height: 40px;
    padding: 0 20px;
    text-align: center;
    background-color: white; 
    /* color: #35524A; */
    color: #484041;
    position: absolute;
    bottom: 0;
    margin: 0;
    border-radius: 0 6px 0 0;
}

ul {
    margin: 10px 20px;
    padding: 0 20px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

li {
    padding: 3px 0;
}

.image {
    border-radius: 3px;
    width: 100%;
}

.expand_button {
    background: url('./arrow_down.svg') bottom no-repeat;
    background-size: 26px;
    margin-bottom: 20px;
    width: 100px;
    padding: 8px 10px 25px 10px;
    border: none;
    font-size: 12px;
    color: #484041;
    opacity: 0.7;
}

.active > img {
    transform: rotate(180deg)
}

.expand_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Animations */

.expand-enter {
    opacity: 0;
}
.expand-enter-active {
    opacity: 1;
    transition: opacity 200ms ease-in;
}
.expand-exit {
    opacity: 1;
}
.expand-exit-active {
    opacity: 0;
    transition: opacity 200ms ease-out;
}