.recipe {
    border-radius: 10px;
    box-shadow: 0 2px 5px rgb(138, 136, 136);
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: white;
    align-items: center;
    min-width: 320px;
    max-width: 400px;
}

h2 {
    padding: 10px;
    text-align: center;
}

ul {
    margin: 10px 20px;
    padding: 0 20px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

li {
    padding: 3px 0;
}

.image {
    border-radius: 3px;
    width: 100%;
}

button {
    margin-bottom: 20px;
}