.recipe {
    border-radius: 10px;
    box-shadow: 0 2px 5px rgb(138, 136, 136);
    margin: 20px;
    display: flex;
    flex-direction: column;
    background: white;
    align-items: center;
    width: 300px;
    min-height: 370px;
}

.recipe_cover {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
    top: 0;
}

h2 {
    width: 100%;
    padding: 0;
    text-align: center;
    background-color: white; 
}

ul {
    margin: 10px 20px;
    padding: 0 20px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

li {
    padding: 3px 0;
}

.image {
    border-radius: 3px;
    width: 100%;
}

.expand_button {
    margin-bottom: 20px;
    width: 100px;
}

.expand_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}